<!DOCTYPE html>
<html>
    <head>
      <title>Adele's Web App</title>  
      
        
    </head>
    <body>
        <h1>Hello from the other side!!</h1>
        <form>
            <input type="text" value="times called?"> 
            <input type="submit" value="go to the other side">
        </form>
        
        
    </body>
</html>